.topbox{ background: url("../images/common/topbg.png") ; height: 44px; border-top: 1px solid #000; position: fixed; width: 100%; top:0; z-index: 300;}
.topbox .top{ width: 1200px; margin: auto; position: relative;}
.topbox .top img{ margin-top: 5px;}
.topbox .top .login-t{ position: absolute; width: 142px; right: 0; top:10px; height: 24px;}



.navbox{ background: #fff; height: 80px;position: fixed; width: 100%; top:44px;z-index: 300; -moz-box-shadow: 0 1px 5px #888888;
    box-shadow: 0 1px 5px #888888;}
.navbox .nav{ width: 1200px; margin: auto;position: relative; height: 80px;}
.navbox .nav .header_right{position: absolute;right: 0; width: 784px; top:20px; text-align: center;}
.navbox .nav .header_right .header_nav_common { height: 56px; border-bottom: 4px solid #fff;  float: left; width: 112px; }
.navbox .nav .header_right .header_nav_common.on { color: #ff4a00; border-bottom-color: #ff4a00; }
.navbox .nav .header_right .header_nav_common.on a.on { color: #ff4a00; }
.navbox .nav .header_right .header_nav_common .header_nav_common_son { height: 46px;  }
.navbox .nav .header_right .header_nav_common .header_nav_common_son a { color: #666666; display: block; padding: 10px 9px 28px 9px; }
.navbox .nav .header_right .header_nav_common:hover { color: #ff4a00; border-bottom-color: #ff4a00; }
.navbox .nav .header_right .header_nav_common .header_nav_common_son a:hover { color: #ff4a00; }





.main .subnav {
    position: relative;
    height: 90px;

}

.main .subnavleft {
    position: absolute;
    top: 22px;
    left: 0;
}

.main .subnav li {
    margin-left: 20px;
}

.main .subnav li a {
    display: block;
    padding: 11px 18px;
    border: 1px solid #fff;
    border-radius: 21px;
    color: #666;
    font-size: 16px;
    line-height: 16px;
}

.main .subnav li a:hover {
    color: #999;
    border: 1px solid #ddd;
}

.main .subnav li.on a {
    display: block;
    padding: 11px 18px;
    border: 1px solid #ddd;
    border-radius: 21px;
    background: #fff;
    color: #f00;
    font-size: 16px;
    line-height: 16px;
}

.main .subnav li.on a:hover {
    display: block;
    padding: 11px 18px;
    border: 1px solid #ddd;
    border-radius: 21px;
    background: #ddd;
    color: #333;
    font-size: 16px;
    line-height: 16px;
}


.bannerpj { padding: 20px 0 0 0; height: 100px;}
.bannerpj img{ width: 1200px; height: 100px;}


.main .zbleft { width: 590px;float: left; position: relative;padding-right: 10px;  margin:20px 0 0 0;}
.main .zbright { width: 590px; float: left;position: relative;padding-left: 10px;margin: 20px 0 0 0;}
.main .zball{ width: 1200px;position: relative;padding-left: 0;margin:20px 0 0 0;float: left;}
.main .zballb{ width:1160px;position: relative;padding: 0;float: left; margin:0;}
.main .zball02{ width: 800px;position: relative;padding-left: 0px;margin:20px 0 0 0;float: left;}

.pjlanmutit{ border-bottom: 1px solid #ddd; height: 50px; position: relative;  }
.pjlanmutit span{font-size: 20px;  display: block; position: absolute; line-height: 49px; border-bottom: 2px solid #f01400;color: #000; padding: 0 10px; }

.pjlanmutit02{ padding-left: 26px; height: 42px; border-bottom:1px #ccc solid; background: url("../images/center/tag04.png") no-repeat 10px 11px #f5f5f5; color: #333333; font-size: 18px;line-height: 42px; }
.pjlanmutit03{ padding-left: 26px; height: 42px; border-bottom:1px #ccc solid; background: url("../images/center/tag03.png") no-repeat 10px 11px #f5f5f5; color: #333333; font-size: 18px;line-height: 42px; }



.pjtable01{ width: 590px; font-size: 14px; position: relative;}
.pjtable02{ width: 1200px; font-size: 14px;}
.pjtable03{ width: 802px; font-size: 14px;}
.pjtable03b{ width: 802px; font-size: 14px;}
.pjtable04{ width: 1160px; font-size: 14px;}
.pjlista { width: 40%;  float: left; }
.pjlistb { width: 20%; float: left; }
.pjlistd { width: 10%; float: left; }
.pjliste { width: 30%; float: left; }
.pjlistf { width: 7%; float: left; }
.pjlistg { width: 5%; float: left; }
.pjlisth { width: 15%; float: left; }
.pjlisti { width: 12%; float: left; }
.pjlistj { width: 70%; float: left; }
.pjlistk { width: 50%; float: left; }

.ddw50{  width: 50%;  float: left;}
.ddw40{  width: 40%;  float: left;}
.ddw30{  width: 30%;  float: left;}
.ddw20{  width: 20%;  float: left;}
.ddw10{  width: 10%;  float: left;}
.ddw5{  width: 5%;  float: left;}
.ddw7{  width: 7%;  float: left;}
.ddw12{  width: 12%;  float: left;}
.ddw15{  width: 15%;  float: left;}
.ddw70{  width: 70%;  float: left;}
dd.juz{text-align: center;}
dd.jur{text-align: right;}
dd.jul{text-align: left;}



.pjtable01 a{ color: #02a9ff;}
.pjtable01 a:hover{ color: #999;}
.pjtable02 a{ color: #02a9ff;}
.pjtable02 a:hover{ color: #999;}
.pjtable03 a{ color: #02a9ff;}
.pjtable03 a:hover{ color: #999;}
.pjtable03b a{ color: #02a9ff;}
.pjtable03b a:hover{ color: #999;}
.pjtable04 a{ color: #02a9ff;}
.pjtable04 a:hover{ color: #999;}
.juzhong dd{  text-align: center;}
.juright dd{  text-align: right;}
dt{ height: 45px; padding: 10px 5px; border-bottom: 1px solid #eeeeee; line-height: 25px; color: #999; text-align: center; box-sizing: border-box;-moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */}
dd{ height: 45px; padding: 10px 5px; border-bottom: 1px dashed #eeeeee; line-height: 25px;color: #333;overflow: hidden;box-sizing: border-box;-moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    text-overflow: ellipsis;
    white-space: nowrap;}
.pjtable02 dt{ line-height: 15px;}
.silebox { position: relative; width: 100%;}
.pjtable03b dd{ min-height: 80px;}
.silebox .tag12{ position: absolute; top: -25px; left:205px; width: 10px; height: 10px; background: url("../images/center/tag12.png") no-repeat;}
.silebox .tag13{ position: absolute; top: -45px; left:205px; width: 10px; height: 10px; background: url("../images/center/tag12.png") no-repeat;}
.silebox .tag14{ position: absolute; top: -45px; left:285px; width: 10px; height: 10px; background: url("../images/center/tag12.png") no-repeat;}
.silebox .I_tabr {   position: relative; float: left; width: 100%; border-bottom: none; }
.silebox .I_tabr .I_N_tabr{position:absolute;top:-40px;left:130px;height:40px;font-size:14px;line-height:40px;}
.silebox02 .I_tabr .I_N_tabr{position:absolute;top:-40px;left:30px;height:40px;font-size:14px;line-height:40px;}
.silebox .I_tabr .I_N_tabr li{float:left;width:60pt;height:40px;line-height:40px;}
.silebox .I_tabr .I_N_tabr li a{display:block;color:#cacaca;text-align:center;font-weight:400;font-size:14px;}
.silebox .I_tabr .I_N_tabr li a:hover{color:#cacaca;}
.silebox .I_tabr .I_N_tabr .yes{font-size:18px;}
.silebox .I_tabr .I_N_tabr .yes a,.silebox .I_tabr .I_N_tabr .yes a:hover{color:#02a9ff;font-size:18px;}
.no {  display: none;  }
.silebox .content { padding: 0;}


.sileboxa { position: relative; width: 100%;}
.sileboxa .I_tabr {   position: relative; float: left; width: 100%; border-bottom: none; }
.sileboxa .I_tabr .I_N_tabr{height:50px;font-size:14px; background: #f8f8f8; border-bottom: 1px solid #ddd;}

.sileboxa .I_tabr .I_N_tabr li{float:left;min-width:140px;height:40px;line-height:40px; text-align: center ; }
.sileboxa .I_tabr .I_N_tabr li a{display:block;color:#333;text-align:center;font-weight:400;font-size:18px;border: 1px solid #f8f8f8;margin:5px 10px; min-width: 100px; padding: 0 10px;}
.sileboxa .I_tabr .I_N_tabr li a:hover{color:#02a9ff; border: 1px solid #02a9ff; border-radius: 20px;}
.sileboxa .I_tabr .I_N_tabr .yes{font-size:18px;}
.sileboxa .I_tabr .I_N_tabr .yes a,.sileboxa .I_tabr .I_N_tabr .yes a:hover{color:#02a9ff;font-size:18px; border: 1px solid #02a9ff; border-radius: 20px;}

.sileboxa .content{ min-height: 240px;}


.silebox .I2_tabr {   position: relative; float: left; width: 100%; border-bottom: none; }
.silebox .I2_tabr .I2_N_tabr{position:absolute;top:-60px;left:130px;height:40px;font-size:14px;line-height:40px;}
.silebox .I2_tabr .I2_N_tabr li{float:left;width:60pt;height:40px;line-height:40px;}
.silebox .I2_tabr .I2_N_tabr li a{display:block;color:#cacaca;text-align:center;font-weight:400;font-size:14px;}
.silebox .I2_tabr .I2_N_tabr li a:hover{color:#cacaca;}
.silebox .I2_tabr .I2_N_tabr .yes{font-size:18px;}
.silebox .I2_tabr .I2_N_tabr .yes a,.silebox .I_tabr .I_N_tabr .yes a:hover{color:#02a9ff;font-size:18px;}



.pjlogin{}
.pjlogin .znbox{ width: 230px; float: left;}
.pjlogin .znbox img{  margin: 10px 10px;}
.pjloginbox .zone01{ position: relative; margin: 20px 0; }
.pjloginbox .zone02{ position: relative; margin-bottom: 20px;}
.pjloginbox .zone03{ position: relative;}
.pjloginbox {float: left; width: 360px;}
.pjloginbox input[ type=text],.pjloginbox input[ type=password]{ width: 252px; height: 20px;  font-size: 20px; padding: 16px 50px;background: #eee; }
.pjloginbox .inp01{ color: #999;border-radius: 26px; }
.pjloginbox .tag01{background: url("../images/common/tag01.png") no-repeat; display: block; width: 24px; height: 24px; position: absolute; top:15px; left: 15px;}
.pjloginbox .tag02{background: url("../images/common/tag02.png") no-repeat;display: block; width: 24px; height: 24px; position: absolute; top:15px; left: 15px;}
.pjloginbox input[ type=button]{  width: 166px; height: 50px; font-size: 14px; background: #02a9ff; border: none;}
.pjloginbox input[ type=button]:hover{   background:#32b9ff; }



.pjloginbox .userzone{ padding: 20px; width: 320px; height: 230px;  position: relative;}
.pjloginbox .userzone .guanzhu{  position: absolute;  width: 85px; height: 25px;   right: 20px; bottom: 13px;}

.pjloginbox .userzone .usertx{  float: left; overflow: hidden;  width: 90px; height: 90px; position: relative; }
.pjloginbox .userzone .usertx img{ width: 90px; height: 90px; border-radius: 45px;}
.pjloginbox .userzone .name{   float: left;  margin-top: 1px; padding-left: 20px; width: 210px; color: #333; font-size: 24px; line-height: 50px; height: 50px;}


.pjloginbox .userzone .info2 {  color: #666;font-size: 14px; height: 40px;  float: left; width: 210px; line-height: 20px;  padding-left: 20px;  margin-bottom: 20px; }
.pjloginbox .userzone .info3 {  color: #666;font-size: 14px; height: 25px; float: left; width: 280px;line-height: 25px;padding:0 20px; }
.pjloginbox .userzone a{color: #333;}
.pjloginbox .userzone a:hover{color: #999;}


.projectbanner{height: 224px;background: url("../images/project/banner.png") no-repeat center #fff; color: #fff; }
.projectbanner .projecttitle{ width: 1200px; margin:auto ; }
.projectbanner .projecttitle h1{ font-size: 30px;text-shadow: 1px 1px 1px #000;  padding-left: 30px; height: 120px;   line-height: 120px; ; font-weight: 100;}
.projectbanner .projecttitle h2{ font-size: 24px; font-weight: 100;padding-left: 30px; }

.zhanwu{ font-size: 30px; color: #ddd; background: url("../images/project/xiaolian.png") no-repeat;  margin-left: 100px; padding-left: 65px; margin-top: 60px; line-height: 80px; height: 150px;}



.centertopbox{ height: 60px; border-top: 1px solid #000; background: #000  ; width: 100%; position: fixed; z-index: 300;}
.centertopbox .top{ position: relative; margin: auto; width: 1200px; height: 60px;background: url("../images/center/logo.png") no-repeat;}
.centertopbox .top .centernav{ margin-left: 200px; }
.centertopbox .top .centernav li{ float: left; font-size: 18px; line-height: 60px; }
.centertopbox .top .centernav li a{display: block; width: 100px; height: 60px; color: #fff;text-align: center; }
.centertopbox .top .centernav .on a{ background: #333333; color: #fff;  }
.centertopbox .top .centernav li a:hover{ background: #333333; color: #fff;  }
.centertopbox .top .msg { position: relative; float: right; margin-top: 20px;  margin-right: 20px; width: 25px; height: 25px; background: url("../images/center/tag01a.png") no-repeat; cursor: pointer;}
.centertopbox .top .msg .shuzi{  position: absolute; top:-6px; right: -8px; color:#fff;cursor: pointer; background: #ff0000; width: 20px;  height: 20px; border-radius: 10px; text-align: center; font-size: 10px; line-height: 18px; }
.centertopbox .top .setup { position: relative;  float: right; margin-top: 20px ;margin-right: 20px; width: 25px; background: url("../images/center/tag01b.png") no-repeat; cursor: pointer;}
.centertopbox .top .setup .subdiv{  position: absolute; top:28px; left: -20px;z-index: 100; display: none; padding-top: 12px; width: 120px; background: #000;}
.centertopbox .top .setup .subdiv li{  float: none;  height: 26px; background: #fff;    }
.centertopbox .top .setup .subdiv li a{ display: block;  padding: 0 10px;  width: 98px; border: 1px #ddd solid;border-top:none; color: #333; font-size: 14px; line-height: 26px;}
.centertopbox .top .setup .subdiv li a:hover{border: 1px #fff solid;border-top:none;  background: #000; color: #fff;}
.centertopbox .top .setup a{ display: inline-block; width: 25px; height: 25px;}
.centertopbox .top .exit { float: right; margin-top: 20px; margin-right: 10px; width: 25px; height: 25px; background: url("../images/center/tag01c.png") no-repeat;cursor: pointer;}
.centertopbox .top .exit a{ float: left; display: block; width: 25px; height: 25px;}

.centertopbox .top .msg .subdiv{  position: absolute; top:25px; left: -80px;z-index: 100; display: none; padding-top: 12px; width: 220px; background: #000; height: 200px;}
.centertopbox .top .msg .subdiv .meslist{  background: #fff; margin-top: 3px; height:197px; border: 1px solid #ddd;}
.centertopbox .top .msg .subdiv .meslist div{  text-align: center; font-size: 16px; }


.container .centerleft {float: left; padding-top: 20px; width: 397px;}
.container .centerleft .bar {float: left; width: 302px; }
.container .centerleft .bar02 {float: right; width: 302px; }
.container .centerleft .bar .userzone{ padding: 20px; width: 262px; height: 230px;   background: url("../images/center/leftbg.png") no-repeat;text-shadow:1px 1px 1px #333; position: relative;}
.container .centerleft .bar .userzone .guanzhu{  position: absolute;  width: 85px; height: 25px;   right: 20px; bottom: 13px;}

.container .centerleft .bar .userzone .usertx{  float: left; overflow: hidden;  width: 90px; height: 90px; position: relative; }
.container .centerleft .bar .userzone .usertx img{ width: 90px; height: 90px; border-radius: 45px;}
.container .centerleft .bar .userzone .name{   float: left;  margin-top: 1px; padding-left: 20px; width: 140px; color: #fff; font-size: 24px; line-height: 55px;}
.container .centerleft .bar .userzone .rzbox{   float: left; padding-left: 20px;width: 140px; color: #fff; font-size: 14px; line-height: 25px; }
.container .centerleft .bar .userzone .txlbox{  position: absolute; width: 65px; height: 25px; border: 1px solid #fff; border-radius: 3px; text-align: center; line-height: 25px; right: 12px; top:75px; }

.container .centerleft .bar .userzone .rzbox .rzok{  float: left;  display: block; margin-right: 5px;  width: 20px; height: 24px; background: url("../images/center/tag02.png") no-repeat 0 0;}
.container .centerleft .bar .userzone .rzbox .rzno{  float: left;  display: block; margin-right: 5px;  width: 20px; height: 24px; background: url("../images/center/tag02g.png") no-repeat 0 0;}
.rzok{  float: left;  display: block; margin-right: 5px;  width: 20px; height: 24px; background: url("../images/center/tag02.png") no-repeat 0 0;}
.rzno{  float: left;  display: block; margin-right: 5px;  width: 20px; height: 24px; background: url("../images/center/tag02g.png") no-repeat 0 0;}
.container .centerleft .bar .userzone .info1 { margin: 10px 0 ;  color: #fff; font-size: 14px;}
.container .centerleft .bar .userzone .info1 span{ padding: 0 5px;}
.container .centerleft .bar .userzone .info2 { margin: 10px 0;padding: 0 5px 10px 0;  color: #fff;font-size: 14px; height: 60px; border-bottom: 1px solid #fff; }
.container .centerleft .bar .userzone .info3 { margin: 0 ;  color: #fff; font-size: 14px;  padding-bottom: 5px; line-height: 20px;}
.container .centerleft .bar .userzone .info3 span{ padding: 0 2px;}
.container .centerleft .bar .userzone a{color: #fff;}
.container .centerleft .bar .userzone a:hover{color: #ddd;}
.container .centerleft .bar .qdzone{ margin: 25px 0; width: 302px; height: 75px;background: url("../images/center/qiandaobg2.png") no-repeat; color: #999999; text-align: center; padding-top: 15px; }
.container .centerleft .bar .qdzone span{  display: block;line-height: 28px;}
.container .centerleft .bar .qdzone .qdbtn{ width: 146px; float: left; margin-right: 10px;}
.container .centerleft .bar .qdzone .gzbtn{ width: 146px; float: left;}

.container .centerleft .bar .count{margin-bottom: 25px;}
.container .centerleft .bar .count .list {  padding:5px 11px ;}
.container .centerleft .bar .count .list li{ float: none; padding-left: 40px;  border-bottom: 1px #eeeeee solid; color: #666; font-size: 14px; line-height: 40px; }
.container .centerleft .bar .count .list li a{color: #666; }
.container .centerleft .bar .count .counta1 {background: url("../images/center/tag21.png") no-repeat 4px 8px;  }
.container .centerleft .bar .count .counta2 {background: url("../images/center/tag22.png") no-repeat 4px 8px;  }
.container .centerleft .bar .count .counta3 {background: url("../images/center/tag23.png") no-repeat 4px 8px;  }
.container .centerleft .bar .count .counta4 {background: url("../images/center/tag24.png") no-repeat 4px 8px;  }
.container .centerleft .bar .count .countb1 {background: url("../images/center/tag25.png") no-repeat 4px 8px;  }
.container .centerleft .bar .count .countb2 {background: url("../images/center/tag26.png") no-repeat 4px 8px;  }
.container .centerleft .bar .count .countb3 {background: url("../images/center/tag27.png") no-repeat 4px 8px;  }
.container .centerleft .bar .count .countb4 {background: url("../images/center/tag28.png") no-repeat 4px 8px;  }
.container .centerleft .bar .count .list div{ margin-left: 12px; font-size: 12px;}
.container .centerleft .bar .visitors{ position: relative; margin-bottom: 25px;}
.container .centerleft .bar .visitors .list {  margin: 20px 0;}
.container .centerleft .bar .visitors .list li{ overflow: hidden; margin: 10px 5px; width: 60px; height: 80px;  text-align: center;}
.container .centerleft .bar .visitors .list li a{ color: #666;}
.container .centerleft .bar .visitors .list li a:hover{ color: #333;}
.container .centerleft .bar .visitors .list li img{  width: 60px; height: 60px; border-radius: 30px;}
.container .centerleft .bar .visitors .list p{line-height: 20px;}

.container .centerleft .bar .top5nbox{ position: relative; margin-bottom: 25px;}

.container .centerleft .bar .friend{ position: relative;margin-bottom: 25px;}
.container .centerleft .bar .friend .list {  margin: 20px 0;}
.container .centerleft .bar .friend .list li{ overflow: hidden; margin: 10px 5px; width: 60px; height: 80px;  text-align: center;}
.container .centerleft .bar .friend .list li a{ color: #666;}
.container .centerleft .bar .friend .list li a:hover{ color: #333;}
.container .centerleft .bar .friend .list li img{  width: 60px; height: 60px; border-radius: 30px;}
.container .centerleft .bar .friend .list p{line-height: 20px;}

.container .tip{ position: relative; display: inline-block;width: 30px; cursor: pointer; }
.container .tippop{ position: absolute; top:22px; left: -50px; display: none; width: 100px; min-height: 30px; background: #171818;  border-radius: 5px; padding: 5px; text-align: center;z-index: 50;}
.container .tippop .pjt{ position: absolute; background: url("../images/center/psanjiao.png") no-repeat top center; width: 68px; height: 10px; top: -5px; left: 20px;}

.pingjiabar .pjinput .btnc06b{position: absolute; right: -30px; bottom: 10px;}

.container .lanmutit01{ padding-left: 18px; height: 42px; border-bottom:1px #000 solid; background: url("../images/center/tag03.png") no-repeat 2px 11px; color: #333333; font-size: 18px;line-height: 42px; }

.pingjiabar { padding-bottom: 20px;}
.pingjiabar .pjtx{ width: 80px; float: left; text-align: center;}
.pingjiabar .pjtx img{ width: 60px; height: 60px; border-radius: 30px;}
.pingjiabar .pjname{  font-size: 16px; color: #333; width: 210px; float: left;line-height: 30px;}
.pingjiabar .pjzone01{ float: left; padding: 10px 0; width: auto; position: relative;}
.pingjiabar .pjother { line-height: 30px;}
.pingjiabar .pjtime {position: absolute; right: 10px; top:20px;}
.pingjiabar .pjinput textarea{ width: 270px;  height: 70px; padding: 10px; border: 1px solid #ddd; border-radius: 3px; margin-left: 10px; font-family:"Microsoft Yahei", sans-serif;}
.pingjiabar .pjinput { position: relative;}

.pingjiabar .starpj { margin-top: 5px; margin-left: 10px; height: 50px}



.centermain { float: left; width: 802px;}
.pjzonebox .shaixuan { width: 100%; height: 40px;  border-bottom: 1px #eeeeee solid;  border-left: #eee 1px solid;}
.pjzonebox .shaixuan a{ display: block;  padding: 0 30px; border-right: #eee 1px solid; color: #999999; font-size: 14px; line-height: 40px;}
.pjzonebox .shaixuan a:hover{border-right: #999 1px solid; background: #999;  color: #fff;}
.pjzonebox .shaixuan .on a{border-right: #999 1px solid; background: #999;  color: #fff;}
.pjzonebox .shaixuan .on a:hover{border-right: #999 1px solid; background: #999;  color: #fff;}

/**/
a.canyu{ display: block; width: 78px; height: 28px; border: 1px solid #02a9ff; text-align: center;}
a:hover.canyu{  color: #02a9ff;}
.container .centermain .pjzonebox{position: relative;float: left; margin-bottom: 25px; width: 802px; }
.container .centermain .pjzonebox .zball{position: relative;float: left;  width: 802px; }
.container .centermain .pjzonebox .zbleft{position: relative;float: left;  width: 590px; }
.container .centermain .pjzonebox .fangzhubox{position: relative;float: left; margin-bottom: 25px; width: 160px;
    padding-left: 20px; border-left: 1px solid #ddd; font-size: 14px; margin-left: 20px;}
.container .centermain .pjzonebox .fangzhubox span{ display: inline-block; float: left; width: 70px; text-align: right;}
.container .centermain .pjzonebox .fangzhubox img{ width: 100px; height: 100px; margin-left: 30px; margin-top: 10px; }
.container .centermain .pjzonebox .fangzhubox .biaoti{ width: 170px;height: 20px;overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  }
.wenzibar { width: 100%; height: 36px; border-radius: 15px; background: #fff7e8; line-height: 36px;overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  color: #6f391c; text-indent: 2em; font-size: 16px; margin-top: 10px;}
.addkc { height: 100px; width: 100%; text-align: center; padding-top: 40px;}
.videopic img{ width: 302px; height: 302px;}
.xuanxbar{ position: relative; height: 20px;}
.xuanxbar .xuanxinfo1{ position: absolute;right: 140px; width:120px; top:-25px; }
.xuanxbar .xuanxinfo2{ position: absolute;right: 20px;  width: 120px; top:-25px; }
.xuanxbar .xuanxinfo3{ position: absolute;right: 20px;  width: 150px; top:-25px;  font-size: 14px;}
.pjtable03b .kcinfo01{overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
.pjtable03b .kcinfo02 { font-size: 12px; line-height: 18px;overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}

.top5list{ margin-top: 20px;}
.top5list .top5n{ display: block; width: 18px; height: 18px; background: #fe7685; border-radius: 9px; line-height: 18px; text-align: center; color: #fff; font-size: 12px; font-weight: 700; margin-left: 5px;}
.top5list dd{float: left; width: 10%;}
.top5list dd.name{ width: 50%;}
.top5list dd.chengj1{ width: 40%; color: #fe7685;}
.top5list dd.chengj2{ width: 40%; }


/**/
.fanglist{ clear: both;}
.fanglist { margin: 15px 0; border: 1px solid #ddd; float: left; width: 100%;}
.fanglist li { width: 25%; line-height: 50px; font-size: 14px; text-indent: 1em;}

.fanglist a{  color: #333;}
.fanglist a:hover{  color: #999;}


.container .centerleft .bar .fzuserzone{ padding: 20px; width: 262px; height: 170px;   background: url("../images/center/leftbg.png") no-repeat;text-shadow:1px 1px 1px #333; position: relative;}
.container .centerleft .bar .fzuserzone .guanzhu{  position: absolute;  width: 85px; height: 25px;   right: 20px; bottom: 13px;}

.container .centerleft .bar .fzuserzone .usertx{  float: left; overflow: hidden;  width: 90px; height: 90px; position: relative; }
.container .centerleft .bar .fzuserzone .usertx img{ width: 90px; height: 90px; border-radius: 45px;}
.container .centerleft .bar .fzuserzone .name{   float: left;  margin-top: 1px; padding-left: 20px; width: 140px; color: #fff; font-size: 24px; line-height: 55px;}
.container .centerleft .bar .fzuserzone .rzbox{   float: left; padding-left: 20px;width: 140px; color: #fff; font-size: 14px; line-height: 25px; }
.container .centerleft .bar .fzuserzone .txlbox{  position: absolute; width: 65px; height: 25px; border: 1px solid #fff; border-radius: 3px; text-align: center; line-height: 25px; right: 12px; top:75px; }
.container .centerleft .bar .fzuserzone .info1 {  color: #fff; font-size: 14px; width: 70px; float: left; height: 50px; }
.container .centerleft .bar .fzuserzone .info1 a{ display: block; color: #fff; }
.container .centerleft .bar .fzuserzone .info1 span{ display: block }

.container .centerleft .bar .fzuserzone .info2 { margin: 10px 0;padding: 10px 5px 10px 0;  color: #fff;font-size: 14px; height: 50px; border-top: 1px solid #fff; line-height: 25px; }
.container .centerleft .bar .fzuserzone .info3{ float: left; width: 100px;}
.buttonzone{ height: 30px; width: 100%; text-align: right; padding-top: 20px;}
.buttonzone input[type=button]{ margin-left: 20px;}
.tjzone{ height: 50px; font-size: 18px; text-align: center; line-height: 50px;  border-bottom: 1px solid #eeeeee;}


.pjtable01 .more03c a{color: #fe7685;}
.pjtable01 .more03c a{color: #d95261;}


/*zuoye*/
.zuoyebox{ background: #fff; padding: 20px; margin: 20px 0 0 0; position: relative;}
.zuoyebox .title{  border-bottom: 1px solid #eeeeee; line-height: 30px; font-size: 18px; padding-bottom: 10px; color: #02a9ff; }
.zuoyebox .title a{  color: #02a9ff;}
.zuoyebox .title a:hover{  color: #01c4ff;}

.zuoyebox .zyinfo{ color: #999999;font-size: 14px; margin: 20px 0 10px 0;}
.zuoyebox .zyinfo span{ margin-right: 20px;}
.zuoyebox .zyinfo a{  color: #02a9ff;}
.zuoyebox .zyinfo a:hover{  color: #01c4ff;}
.zuoyebox .zyinfo2{ color: #999999;font-size: 14px; margin: 20px 0 10px 0;}
.zuoyebox .zyinfo2 span{ margin-right: 20px;}
.zuoyebox .zyinfo2 a{  color: #02a9ff;}
.zuoyebox .zyinfo2 a:hover{  color: #01c4ff;}
.zuoyebox .zymain{ color: #333;font-size: 14px; line-height: 20px;}
.zuoyebox .zydl{ color: #333;font-size: 14px; line-height: 20px; margin-top: 10px;}
.zuoyebox .zydl a{color: #02a9ff; }
.zuoyebox .zydl a:hover{color: #01c4ff; }

.shaixuanbox .shaixuan { width: 100%; height: 40px;  border-bottom: 1px #eeeeee solid;  border-left: #eee 1px solid;}
.shaixuanbox .shaixuan a{ display: block;  padding: 0 30px; border-right: #eee 1px solid; color: #999999; font-size: 14px; line-height: 40px;}
.shaixuanbox .shaixuan a:hover{border-right: #999 1px solid; background: #999;  color: #fff;}
.shaixuanbox .shaixuan .on a{border-right: #999 1px solid; background: #999;  color: #fff;}
.shaixuanbox .shaixuan .on a:hover{border-right: #999 1px solid; background: #999;  color: #fff;}
.yuancj{ font-size: 16px; color: #333; margin: 10px 0;}
.cjbtn{ border: 1px solid #01dfad; color: #01dfad; background: #fff; display: inline-block; margin-right: 10px; padding: 2px 10px; border-radius: 3px; font-size: 14px;}
.cjbtn-on{ border: 1px solid #df000d; color: #df000d; background: #fff; display: inline-block; margin-right: 10px; padding: 2px 10px; border-radius: 3px;font-size: 14px;}

.zuoyebox .pizuoye textarea{ width: 95%;  height: 90px; padding: 10px; border: 1px solid #ddd; border-radius: 5px;font-family:"Microsoft Yahei", sans-serif;}

.pjbackbox{ position: relative; height: 10px;margin-top: 20px;}
.pjback {
    border: none;
    border-radius: 5px;
    background: #fe7685;
    color: #fff;
    font-size: 16px;
    display: block;
    width:150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 0;
    top:0;
    z-index: 10;


}

.pjback:hover {
    background: #d95261;
}


.pjgroupinfo{ clear: both; min-height: 50px; width: 660px; float: left;  margin-bottom: 20px;}
.pjgroupinfo .info1{ width: 90px; float: left; font-size: 14px; line-height: 40px; text-align: right; padding-right: 20px;}
.pjgroupinfo .info2{ width: 550px; float: left;position: relative;}
.pjgroupinfo .info2 input[disabled="true"]{ margin-right: 10px; padding: 10px 10px;   height: 20px; border: 1px #e7e7e7 solid; border-radius: 2px; font-size: 16px; color: #999; width: 139px;}
.neirongedit span{ line-height: 40px; padding-right: 10px;}
.pjgroupinfo .info3{ width: 550px; float: left;position: relative;}
.pjgroupinfo .info2 textarea{ width: 650px;  height: 150px; padding: 10px; border: 1px solid #ddd; border-radius: 3px; font-family:"Microsoft Yahei", sans-serif;}
.pjgroupinfo .info3 textarea{ width: 540px;  height: 90px; padding: 10px; border: 1px solid #ddd; border-radius: 3px;font-family:"Microsoft Yahei", sans-serif;}


.pjgroupinfo2{ clear: both; min-height: 50px; width: 1120px; float: left;  margin-bottom: 20px;}
.pjgroupinfo2 .info1{ width: 90px; float: left; font-size: 14px; line-height: 40px; text-align: right; padding-right: 20px;}
.pjgroupinfo2 .info2{ width: 1000px; float: left;position: relative;}
.pjgroupinfo2 .info2 input[disabled="true"]{ margin-right: 10px; padding: 10px 10px;   height: 20px; border: 1px #e7e7e7 solid; border-radius: 2px; font-size: 16px; color: #999; width: 139px;}
.neirongedit span{ line-height: 40px; padding-right: 10px;}
.pjgroupinfo2 .info3{ width: 1000px; float: left;position: relative;}
.pjgroupinfo2 .info2 textarea{ width: 900px;  height: 150px; padding: 10px; border: 1px solid #ddd; border-radius: 3px; font-family:"Microsoft Yahei", sans-serif;}
.pjgroupinfo2 .info3 textarea{ width: 900px;  height: 90px; padding: 10px; border: 1px solid #ddd; border-radius: 3px;font-family:"Microsoft Yahei", sans-serif;}
.pjgroupinfo2 .info3 input[type=text]{ padding: 10px 10px;   height: 20px; border: 1px #e7e7e7 solid; border-radius: 2px;}
.ta_calendar table{ width: auto;}
.pjgroupinfo .shaixuan{}
.pjgroupinfo .shaixuan a{ float: left; margin-right: 25px; margin-bottom: 10px;}
.pjgroupinfo .shaixuan a{ display: block; padding: 9px 40px; font-size: 16px; color: #666; background: #fff; border: 1px solid #ddd; border-radius: 2px;}
.pjgroupinfo .shaixuan a.on{background: #02a9ff; color: #fff; border: 1px solid #02a9ff;}
.pjgroupinfo  .labeltab{ clear: both; margin-left: 100px;}
.pjgroupinfo  .labeltab li{  background: url("../images/yxzx/labelbg.png") no-repeat; height: 31px;line-height: 31px; padding-left: 20px; padding-right: 10px; font-size: 14px; margin: 10px;}
.pjgroupinfo .info3 input[type=text]{ padding: 10px 10px;   height: 20px; border: 1px #e7e7e7 solid; border-radius: 2px;}
.ta_calendar table{ width: auto;}
.yesnobox { font-size: 14px;}
.yesnobox input [type=raido]{}
.yesnobox label{ line-height: 20px; margin-right: 20px; margin-left:5px; }
.xuandate{ position: relative;}

.main .allbox{ width: 1160px; padding: 20px; background: #fff; float: left; margin-top: 20px;}

.testlist{ font-size: 14px; margin: 10px 0; float: left; position: relative; width: 100%;}
.testlist li { float: none;}
.testtxt{ font-size: 14px; margin: 10px 0; float: left; position: relative; width: 100%; line-height: 25px;}
.chenjtype{  margin: 0 30px; color: #f01400; }
.xlist-a{ float: left; border-bottom: 1px solid #eee; width: 100%; padding: 10px 0; }
.xlist-a .title{ font-size: 20px; line-height: 40px; height: 50px; }
.xlist-a .name{ font-size: 20px; line-height: 40px; height: 50px; }

.xlist-a .txtmain{ font-size: 14px; color: #666; line-height: 25px; }
.xlist-a .info{ font-size: 14px; color: #999; line-height: 40px; }
.xlist-a .info span{margin-right: 20px; }

.xlist-a .info a{  color: #02a9ff;}
.xlist-a .info a:hover{  color: #01c4ff;}

.xlist-a .tname{ font-size: 16px; color: #666; line-height: 40px; position: relative; }


.xsilebox .shaixuan { width: 100%; height: 41px;  border-bottom: 1px #eeeeee solid; }
.xsilebox .shaixuan a{ display: block;  padding: 0 30px; border-bottom: #eee 1px solid; color: #999999; font-size: 14px; line-height: 40px;}
.xsilebox .shaixuan a:hover{border-bottom: #02a9ff 2px solid; background: #fff;  color: #333;}
.xsilebox .shaixuan .on a{border-bottom: #02a9ff 2px solid; background: #fff;  color: #333;}
.xsilebox .shaixuan .on a:hover{border-bottom: #02a9ff 2px solid; background: #fff;  color: #333;}